# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Streamlit secrets (DO NOT COMMIT)
.streamlit/secrets.toml

# macOS / Windows system files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log